@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    margin: 0%;
}
.nav{
    height: 50px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: space-around;    
}
.nav-item{
    list-style: none;
    padding-top: 10px;
}
a{
    color:blue ;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}